@page
@using Porugumaru.App.Core
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Porugumaru.App.Pages.IndexModel

<!DOCTYPE html>

<html lang="fr">
<head>
    <title>@ViewData["Title"]</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.32.3/ace.js" integrity="sha512-hWCQiPFpU0dM1jkN2dkt/OrdSXO4KN5y2utMvF0ZkacWmRvbOlEygqBW0YiJwq/nn6iywh4XnMGMG6ESQYM7WA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     <style type="text/css" media="screen">
    
    	.ace_editor {
    		border: 1px solid lightgray;
    		margin: auto;
    		height: 256px;
    	}
    	.scrollmargin {
    		height: 80px;
    	}
    	.scrollmargin2 {
    		height: 180px;
    	}
        </style>
</head>
<body>
<div class="container">
    <section class="hero is-primary">
        <div class="hero-body">
            <h1 class="title">Porugumaru</h1>
            <h2 class="subtitle">Votre compagnon pour la programmation C#.</h2>
        </div>
    </section>
    <section class="section">
        <p class="notification is-info">
            Créez une fonction C# prenant en paramètre une base (flottant) et un exposant entier. 
            La fonction retourne base à la puissance exposant.
        </p>
        <form class="form" method="post">
            <div class="field">
                <div>
                    <span>Status: </span>
                    <span>@Model.Result.Status</span>
                </div>
                <div id="code-editor">@(Model.Result.IsNone ? "// Votre code ici" : Model.Result.Proposal)</div>
                <textarea id="code-textarea" name="CodeTextArea" style="display: none"></textarea>
            </div>
            @foreach (string test in Model.Result.Tests)
            {
                @if (test.Contains("PASSED"))
                {
                    <div class="notification is-success">@test</div>    
                }
                else
                {
                    <div class="notification is-danger">@test</div>    
                }
            }
            <div class="field">
                <button class="button is-primary is-fullwidth">Valider</button>    
            </div>
        </form>
    </section>
</div>
<script defer>
    document.addEventListener('DOMContentLoaded', (evt) => {
         
           const editor = ace.edit("code-editor");
           const editorTextArea = document.getElementById('code-textarea');
           
           editor.setTheme("ace/theme/monokai");
           editor.session.setMode("ace/mode/csharp");
           
           editorTextArea.value = editor.session.getValue();
           editor.session.on('change', (evt) => {
               editorTextArea.value = editor.session.getValue();
           });           
    });
</script>
</body>
</html>