@page "/Exercice/{Titre}/{LeconTitre}/{ShowSolution:int?}"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Puroguramu.App.Pages.Exercice
@Html.AntiForgeryToken()


@{
    Layout = "_Layout";
}
<section>
    <h1 class="box content">@Model.Exercices.Titre</h1>
    <h3 class="box content">Difficulté : @Model.Exercices.Difficulte</h3>
    <p class="box content">
        @Model.Exercices.Enonce
    </p>
    <form method="post">
        <div>
            <div>
                <span>Status: </span>
                <strong>@Model.ExerciseResultStatus</strong>
            </div>
            <div>
                <div>
                    <div id="ProposalEditor" class="@(Model.ShowSolution is 1 ? "disabled-editor" : "")">@Model.Proposal</div>
                    <div>
                        <button>Exécuter</button>
                    </div>
                    <input asp-for="Proposal" type="hidden"/>
                </div>
                <div>
                    <h4>Résultats</h4>
                    @foreach (var testResult in Model.TestResult)
                    {
                        <div>
                            <h5><span>@testResult.Status</span>&nbsp;@testResult.Label</h5>
                            @if (testResult.HasError)
                            {
                                <p>@testResult.ErrorMessage</p>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </form>
    @if (Model.ExerciseResultStatus == "Succeeded")
    {
        <div class="flex justify-between items-center mt-8">
            <form method="post" asp-page-handler="ProchainExercice">
                <button type="submit"
                        class="px-6 py-2 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-700 transition duration-150 ease-in-out">
                    Prochain Exercice
                </button>
            </form>
        </div>
    }
</section>

@section Scripts{
    <script defer>
        document.addEventListener('DOMContentLoaded', (evt) => {
             
               const proposalEditor = ace.edit("ProposalEditor");
               const proposalInput = document.getElementById("Proposal");
               
               proposalEditor.setTheme("ace/theme/xcode");
               proposalEditor.session.setMode("ace/mode/csharp");
               
               proposalInput.value = proposalEditor.session.getValue();
               proposalEditor.session.on('change', (evt) => {
                   proposalInput.value = proposalEditor.session.getValue();
               });           
        });
    </script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" defer></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js" defer></script>

}