@page "/Exercice/{Titre}/{LeconTitre}"
@using Puroguramu.App.Pages
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Puroguramu.App.Pages.Exercice

@{
    Layout = "_Layout";
}
<section>
    <p class="box content">
        @Model.Exercices.Enonce
    </p>
    <form method="post">
        <div>
            <div>
                <span>Status: </span>
                <strong>@Model.ExerciseResultStatus</strong>
            </div>
            <div>
                <div>
                    <div id="ProposalEditor">@Model.Proposal</div>
                    <div>
                        <button>Exécuter</button>
                    </div>
                    <input asp-for="Proposal" type="hidden"/>
                </div>
                <div>
                    <h4>Résultats</h4>
                    @foreach (var testResult in Model.TestResult)
                    {
                        <div>
                            <h5><span>@testResult.Status</span>&nbsp;@testResult.Label</h5>
                            @if (testResult.HasError)
                            {
                                <p>@testResult.ErrorMessage</p>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </form>
</section>

@section Scripts{
    <script defer>
        document.addEventListener('DOMContentLoaded', (evt) => {
             
               const proposalEditor = ace.edit("ProposalEditor");
               const proposalInput = document.getElementById("Proposal");
               
               proposalEditor.setTheme("ace/theme/xcode");
               proposalEditor.session.setMode("ace/mode/csharp");
               
               proposalInput.value = proposalEditor.session.getValue();
               proposalEditor.session.on('change', (evt) => {
                   proposalInput.value = proposalEditor.session.getValue();
               });           
        });
    </script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" defer></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js" defer></script>

}