@page "/HomeCours/{TitreCours}"
@model Puroguramu.App.Pages.HomeCours

@{
    Layout = "_Layout";
    ViewData["Title"] = Model.TitreCours;
}

<div class="container mx-auto px-4 py-8">
    <h1 class="text-2xl font-bold text-center mb-6">@Model.TitreCours</h1>

    @if (Model.Lecons.Any())
    {
        <div class="space-y-4">
            @foreach (var lecon in Model.Lecons)
            {
                <a href="@Url.Page("/Lecons", new { LeconTitre = lecon.Titre })">
                <div class="p-4 bg-white rounded-lg shadow-lg flex justify-between items-center mb-6 hover:bg-gray-100">
                    <div>
                        <h2 class="text-xl font-semibold">@lecon.Titre</h2>
                        @if (!string.IsNullOrEmpty(lecon.Description))
                        {
                            <p class="mt-2">@lecon.Description</p>
                        }
                    </div>
                    <div class="text-sm font-medium">
                        @lecon.ExercicesFait / @lecon.ExercicesTotal Exercices réussis
                    </div>
                </div>
                </a>
            }
            

        </div>
    }
    else
    {
        <p class="text-center text-gray-600">Aucune leçon trouvée pour ce cours.</p>
    }
    
    

    <!-- Boutons, comme sur la page des cours -->
    <div class="flex justify-between items-center mt-8">
        <button class="px-6 py-2 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-700 transition duration-150 ease-in-out">Prochain Exercice</button>
        <a href="@Url.Page("/CreateLecons")" class="px-6 py-2 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-700 transition duration-150 ease-in-out">Créer une nouvelle lecon</a>
        <button class="px-6 py-2 bg-green-500 text-white font-semibold rounded-lg hover:bg-green-700 transition duration-150 ease-in-out">Reprendre Exercices</button>
    </div>
</div>
